@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

@media print {
  body {
    margin: 0 !important;
  }
}

:root {
  --ck-content-font-family: 'Inter';
}

.main-container {
  font-family: var(--ck-content-font-family);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}
